# ignore everything
/*
/*/

# except
# folders to use 
# start with !
!/nvim/
!/tmux/
!/zsh/
!/alacritty
!/qutebrowser
!/sketchybar
!/karabiner
!/kitty
!/yabai
!/lsr

# ignore some
# karabiner
karabiner/automatic_backups

# ignore some more
# zsh
zsh/.zsh_history
zsh/.zsh_sessions/

# my plugin :>
.quickmarks
*/.quickmarks

*/,DS_Store

!.gitignore
!README.md
