# ignore everything
/*
/*/

# except
# folders to use 
# start with !
!/nvim/
!/tmux/
!/zsh/
!/i3
!/polybar
!/alacritty
!/qutebrowser
!/dunst

# ignore some more
# zsh
zsh/.zsh_history
zsh/.zsh_sessions/

# tmux
tmux/plugins/*


# my plugin :>
.quickmarks
*/.quickmarks

!.gitignore
!README.md
