[submodule "nvim"]
	path = nvim
	url = https://github.com/jmattaa/nvim.conf
[submodule "tmux"]
	path = tmux
	url = https://github.com/jmattaa/tmux.conf
[submodule "zsh"]
	path = zsh
	url = https://github.com/jmattaa/zsh
