# ignore everything
/*
/*/

# except
# folders to use 
# start with !
!/nvim/
!/tmux/
!/zsh/
!/alacritty
!/qutebrowser
!/sketchybar
!/karabiner

# ignore some more
# zsh
zsh/.zsh_history
zsh/.zsh_sessions/

# my plugin :>
.quickmarks
*/.quickmarks

!.gitignore
!README.md
